.catalog {
  display: grid;
  grid-column-gap: 48px;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}
