@import "var";

.header {
  display: grid;
  grid-template-areas: "logo navigation";
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  
  height: $nav-height;
  padding: 0 50px;

  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    width: 40px;
    margin-top: 3px;
  }
}
