@import "var";

.nav {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;

  &__list {
    display: grid;
    grid-template-areas: "1 2 3 4 5 6 7 8";
    grid-gap: 20px;
    justify-content: left;
    align-items: center;
    height: $nav-height;
  }
  
  &__item {
    position: relative;
    height: $nav-height;

    &:first-of-type {
      margin-left: 0;
    }
  }
  
  &__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 24px 0;

    &:hover {
      color: $mainColor;
    }

    &--is-active {
      color: $mainColor;
    
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 8px;
        background-color: $mainColor;
        bottom: 0;
      }
    }
  }
}
